<h3>Edit School Class</h3>

<%= form_for(@school_class) do |f| %>
    <label for="title">Title:</label>
    <%= f.text_field :title %>
    <br>
    <label for="room_number">Room Number:</label>
    <%= f.text_field :room_number %>
    <br><br>
    <%= f.submit %>
<%end%>